<div class="m_content">
        <div class="header">
            <a href="" class='logo'><img src="img/logo.png" alt=""></a>
            <span><img src="img/slogan.png" alt=""></span>
        </div>

        <div class="panel_scroll">
            <ul>
                <li><img src="img/hp_banner.jpg" alt=""></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <ul class="fea_intro clearfix">
            <li class="item01">
                <em></em>
                <i></i>
                <p>基金业大佬<br/>重磅加盟</p>
            </li>
            <li class="item02">
                <em></em>
                <i></i>
                <p>上市公司<br/>强势注资</p>
            </li>
            <li class="item03">
                <i></i>
                <p>专业<br/>甄选产品</p>
            </li>
        </ul>

        <div class="pro_scarcity">
            <div class="title"><h2>平台精选稀缺私募产品</h2></div>
            <div class="item major">
                <i class="label"></i>
                <div class="fl" >
                    <h3 ng-click="gotoDetail('FUN0008074')"><a href="">富善优享1号</a></h3>
                    <ul>
                        <li><span class="n">投资顾问：</span><a ng-click="searchText('富善投资')">富善投资</a></li>
                        <li><span class="n">基金经理：</span><a ng-click="searchText('林成栋')">林成栋</a></li>
                        <li ng-click="gotoDetail('FUN0008074')"><span class="n">推荐理由：</span>今年以来收益风险比最高私募。2014年度金牛私募管理公司明星团队管理，稳定收益，可控回撤，震荡市最佳选择。</li>
                    </ul>
                </div>
                <div class="fr" >
                    <div ng-click="gotoDetail('FUN0008074')">
                    <p>预期年化收益</p>
                    <p class="price">30.09<font>%</font></p>
                    <p>最大回撤</p>
                    <p class="price">2.98<font>%</font></p>
                    </div>
                    <a ng-click="showPopView('FUN0008074','富善优享1号')" class="btnLink btn_primary">立即预约</a>
                </div>
            </div>

            <div class="item">
                <i class="label"></i>
                <div class="fl" >
                    <h3><a href="javascript:;" ng-click="gotoDetail('FUN0009471')">呈瑞1期</a></h3>
                    <ul>
                        <li><span class="n">投资顾问：</span><a ng-click="searchText('吴瑞投资')">吴瑞投资</a></li>
                        <li><span class="n">基金经理：</span><a ng-click="searchText('沈守传')">沈守传</a></li>
                        <li ng-click="gotoDetail('FUN0009471')"><span class="n">推荐理由：</span>坚持专注成长，控制风险，顺势而为投资理念，选择商业模式优秀、竞争力强的公司，提供长期的稳定可持续，穿越牛熊市。</li>
                    </ul>
                </div>
                <div class="fr">
                <div ng-click="gotoDetail('FUN0009471')">
                    <p >累计收益</p>
                    <p class="price">418.47<font>%</font></p>
                    <p>今年以来收益</p>
                    <p class="price">90.66<font>%</font></p>
                </div>
                    
                    <a ng-click="showPopView('FUN0009471','呈瑞1期')" class="btnLink btn_scarcity">立即预约</a>
                </div>
            </div><!-- item -->

            <div class="item" >
                <i class="label"></i>
                <div class="fl" >
                    <h3><a href="javascript:;" ng-click="gotoDetail('FUN0008976')">得利宝-至尊6号</a></h3>
                    <ul>
                        <li><span class="n">投资顾问：</span><a ng-click="searchText('六禾投资')">六禾投资</a></li>
                        <li><span class="n">基金经理：</span><a ng-click="searchText('夏晓辉')">夏晓辉</a></li>
                        <li ng-click="gotoDetail('FUN0008976')"><span class="n">推荐理由：</span>秉承价值投资理念，致力于通过揭示价格、投入资本、倾注思想等三种方式，促进优秀企业家、稀缺资源和领先技术这三者的价值合理化，帮助客户实现资本增值。</li>
                    </ul>
                </div>
                <div class="fr">
                    <div ng-click="gotoDetail('FUN0008976')">
                        <p>累计收益</p>
                        <p class="price">107.79<font>%</font></p>
                        <p>今年以来收益</p>
                        <p class="price">59.89<font>%</font></p>
                    </div>
                    
                    <a ng-click="showPopView('FUN0008976','至尊6号')" class="btnLink btn_scarcity">立即预约</a>
                </div>
            </div>

            <div class="item" >
                <i class="label"></i>
                <div class="fl" >
                    <h3><a href="javascript:;" ng-click="gotoDetail('FUN0009446')">世诚扬子3号</a></h3>
                    <ul>
                        <li><span class="n">投资顾问：</span><a ng-click="searchText('世诚投资')">世诚投资</a></li>
                        <li><span class="n">基金经理：</span><a ng-click="searchText('陈家琳')">陈家琳</a></li>
                        <li ng-click="gotoDetail('FUN0009446')"><span class="n">推荐理由：</span>世诚投资是行业内调研频率最高的私募基金管理人，对组合内的重仓股反复调研，为客户创造绝对回报和较好的相对收益。</li>
                    </ul>
                </div>
                <div class="fr">
                <div ng-click="gotoDetail('FUN0009446')">
                    <p >成立以来</p>
                    <p class="price" >218.16<font>%</font></p>
                    <p >最近一年</p>
                    <p class="price" >65.34<font>%</font></p>
                </div>
                    <a ng-click="showPopView('FUN0009446','世诚扬子3号')" class="btnLink btn_scarcity">立即预约</a>
                </div>
            </div>

        </div>

        <div class="pro_scarcity">

            <a href="list?strategy=1" class="more">更多&gt;</a>
            <div class="title black"><h2>精选股票策略</h2></div>
            <div class="out" id="proDiv">

                <div class="area" ng-repeat="item in products.stocks" ng-click="gotoDetail(item.fundCode)" ng-if="$index < 2">
                    <div class="tit">
                        {{item.fundAbbr}}<br/>
                        <span><span ng-click="gotoList(item.companys[0])">{{item.companys[0]}}</span>：<span ng-click="gotoList(item.managers[0])">{{item.managers[0]}}</span></span>
                    </div>
                    <ul>
                        <li>
                            <p>累计收益</p>
                            <span class="num">{{item.allYieldSinceCreated}}<font>%</font></span>
                        </li>
                        <li>
                            <p>最新净值</p>
                            <span>{{item.netValue}}</span>
                        </li>
                    </ul>
                    <p class="reason">
                        <i class="star"></i>
                        推荐理由：{{item.reason}}
                    </p>
                </div>

            </div>

        </div>


        <div class="pro_scarcity">
            <a href="list?strategy=3" class="more" >更多&gt;</a>
            <div class="title black"><h2>精选期货策略</h2></div>

            <div class="out">

                <div class="area" ng-repeat="item in products.futures" ng-click="gotoDetail(item.fundCode)" ng-if="$index < 2">
                    <div class="tit">
                        {{item.fundAbbr}}<br/>
                        <span><span ng-click="gotoList(item.companys[0])">{{item.companys[0]}}</span>：<span ng-click="gotoList(item.managers[0])">{{item.managers[0]}}</span></span>
                    </div>
                    <ul>
                        <li>
                            <p>累计收益</p>
                            <span class="num">{{item.allYieldSinceCreated}}<font>%</font></span>
                        </li>
                        <li>
                            <p>最新净值</p>
                            <span>{{item.netValue}}</span>
                        </li>
                    </ul>
                    <p class="reason">
                        <i class="star"></i>
                        推荐理由：{{item.reason}}
                    </p>
                </div>

            </div>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>

    </div>

<div pop-view data="popData" ng-show="popData.isShow">

</div>
    <div class="fixblock">
        <ul>
            <li><i class="tele"></i><a href="tel:4000820396">电话咨询</a></li>
            <li class="info" ng-click="showPopView('','')"><i class="person"></i><a>预约咨询</a></li>
        </ul>
    </div>